@media only screen and (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: relative;
  /* z-index: 1; */
}



.text{
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parallax-1 {
  /* background-image: url('images/wcwlg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(80, 9, 9); */
  /* background-color: white; */
  /* background-color: rgb(160, 27, 27); */
  /* background-color: rgb(208, 201, 201); */ 
  position: relative;
  height: 100vh;
  background-image: url('static/images/wcwlg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed; /* Parallax effect */
  background-color: #e7bd78;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


 
















/* 

.parallax-overlay-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.floating-image {
  height: 150px;
  animation: floatUpDown 6s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}



.product{
    position: absolute;
    left: 7%;
    transform: translateX(-50%);
    bottom: 170px;
    z-index: 2;
    width: 500px;
  height: 200%;
    transition: 0.7s;
      animation: scrollUp 3s linear infinite; 
}
.product .soda{
    position: flex;
    flex-direction: column;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
}
.soda{
    --left: -50px;
    background: 
        var(--url) var(--left) no-repeat,
        url(static/images/tincan.png) 0 0;
    background-size: auto 94%, auto 100%;
    width: 280px;
    aspect-ratio: 2/ 4;
    background-blend-mode: hard-light;
    transition: 0.8s;
    mask-image: url(static/images/tincan.png);
    mask-size: auto 100%;
}
.soda:nth-child(2){
    opacity: 0;
}
.product:hover{
    bottom: 300px;
    animation-play-state: paused;

}
.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 0px;
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 50px;
}



 */










/* .product-carousel {
  height: 200%; 
  overflow: hidden;
  position: relative;
  width: 300px; 
  margin: 0 auto;
  bottom: 170px;
} */

.product-carousel {
    position: absolute;
    margin: auto;
    left: 15vw;
    transform: translateX(-50%);
    bottom: 170px;
    z-index: 2;
    width: 20vw;
  height: 200%;
    transition: 0.7s;
      /* overflow: hidden; */

      /* animation: scrollUp 3s linear infinite;  */
}

.product-track {
  display: flex;
  flex-direction: column;
  animation: scrollUp 20s linear infinite;
     /* bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
        transition: 0.7s; */
      /* animation: scrollUp 3s linear infinite;  */
}

.product-track:hover{
    bottom: 300px;
    animation-play-state: paused;

}


.soda {
  width: 100%; /* or fixed width if needed */
  aspect-ratio: 2 / 4; /* responsive ratio */
  background: var(--url) center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 12px;
  margin-bottom: 1vh;
}




/* .soda {
  height: 150px;
  margin-bottom: 20px;
  background: var(--url) center/cover no-repeat;
  border-radius: 10px;
  flex-shrink: 0;
} */

/* .soda {
  width: 100%;
  height: 200px;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
}
 */

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}



















.parallax-2 {
  background-image: url('static/images/wcw1.png');
  background-size: contain; 
  background-position: left; 
  background-color: rgb(11, 106, 121);
  /* background-color: rgb(100, 22, 22); */
  /* background-position: center 10px;  */
  
  /* Y-offset only */
}



.parallax-3 {
  /* background-image: url('images/wrestle1.jpg'); */
  background-size: contain;

  /* background-size: cover; */
  /* background-position: right -50px; */

  /* background-position: center 10px;  */
  
  /* Y-offset only */

    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* allow scrolling effect */
    height: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5; 
  }
  
  .carousel-track1 {
    display: flex;
    width: max-content;
    height: 100%;
    animation: scroll-left 20s linear infinite;
  }
  
  .carousel-track1 img {
    height: 100%;
    width: auto;
    flex-shrink: 0;
  }
  
  .foreground-content {
    position: relative;
    z-index: 1;
  
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-container {
  height: 60vh;
  overflow-y: auto;
  z-index: 2;
}

.scroll-inside {
  height: 200%;
  width: auto;
}



























.content {
  height: 50vh;
  background-color: rgba(113, 59, 228, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parallax-left,
.parallax-right {
  flex: 1;
}

#goalContainer {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

#goalBar {
  width: 100%;
  height: 30px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

#goalProgress {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, #4caf50, #81c784);
  transition: width 0.5s ease;
}

#goalLabel {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}



.parallax-right {
  margin-left: auto; /* pushes to the right inside flex container */
  margin-right: 2%; /* optional: adds spacing from the right edge */
  /* background: url('images/note.PNG'); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%; /* or any width you want */
  padding: 2rem;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}





.collage-item1, .collage-item2 {
  /* width: 100%; */
  /* height: 100%; */
  /* 25% smaller */
  /* width: 75%; 
  height: auto; */
  transform: scale(0.75); /* 75% of the original size */
  transform-origin: bottom; 
  border-radius: 12px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  /* background-color: teal; */
  animation: appear 2s ease-in-out;
  animation-timeline: view();
  /* animation-timeline: view(axis inset); */
  
  
}

.collage-item1 {
  /* top: -10px;
  left: -15px; */
display: flex;
align-items: center;
}

@keyframes appear {
  from {
    opacity: 0.4; /* Start partially visible */
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}




.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}














.scroll-image.visible {
  opacity: 0.51;
  /* transform: translateX(-200px); Push further off-screen */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  max-width: 100%;
  width: 300px;
  margin: 100px auto;
  position: relative;
  /* z-index: 5; */
  display: block;
  /* animation-name: example;
  animation-duration: infinity; */
  /* animation: example 5s linear infinite; */

}

/* .scroll-image.visible {
  opacity: 1;
  transform: translateX(0); 
} */



/* This class houses a form that i name container */
.item {
    padding: 10px 10px;
    margin: 0 auto;
  
}

.item * {
  margin-top: 6px;
  margin-bottom: 6px; 
  margin-left: 5%;
  
}
 
  
label {
  font-size: 14px;
  font-weight: normal; 
}

.grid2 .item:nth-child(1) {
  grid-area: hero;
}
.grid2 .item:nth-child(2) {
  grid-area: aside2;
}

.grid2 .item:nth-child(3) {
  grid-area: aside3;
}
.grid2 .item:nth-child(4) {
  grid-area: aside4;
}

.grid2 .item:nth-child(5) {
  grid-area: aside5;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Accesses the waiver */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-family: "Tinos", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}











/* this is the form section but i named it container everything from sign in class up (in the 380 range)*/
.container {
  padding: 16px;
  /* background-color: green; */
  background: rgba(186, 195, 120, 0.5); 
  backdrop-filter: blur(10px); /* frosted glass effect */
  border: 13px solid rgba(255, 255, 255, 0.3); /* subtle border */
  border-radius: 16px;

  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  border-radius: 16px;
  background: rgb(205, 210, 191);
  backdrop-filter: blur(20px); /* frosted glass effect */

}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 33vw;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #8ad8a4;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 16px;

  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}











.content h2 {
  position: relative;
  top: -40px;
  left: 40;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

/* text inside bio */
.content p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgb(245, 245, 135);
}


/* left image about the founder */
.collage-item1 {
margin-top: -20%; /* Moves image up */  
left: 40;

}











.btn {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}




.contact{
  background-color: red; /* Fallback color */
  z-index: 10;
    left: 25%;

  /* background-color: rgba(0,0,0,0.4);  */
}





.action{
  background-color: purple; /* Fallback color */
  z-index: 10;
    right: 25%;

  /* background-color: rgba(0,0,0,0.4);  */
}





/* contact modal */
/* The Modal (background) */
.contact-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgba(0,0,0,0.4);  */
  background-color: yellow; /* Black w/ opacity */
}

/* Modal Content/Box */
.contact-modal-content {
  background-color: #17c261;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closec {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closec:hover,
.closec:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





